.card {
  border: none;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
}

.card-title {
  font-size: 1rem;
  font-weight: 400;
}

.project {
  margin-bottom: 20px;
}

.project-title {
  text-decoration: underline;
}

.project-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.project-category {
  font-size: 1.5rem;
  margin-right: 50px;
  color: lightgrey;
}

.project-category:hover {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.btn-active {
  font-size: 1.5rem;
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

.filter {
  display: none;
}

.show {
  display: block;
}

#btn-container {
  margin-bottom: 20px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
