h1 {
    //background-color: lightgrey;
    position: absolute;
    left:25%;
	top: 5%;
    margin-left:-20px;
    width: 500px;
    padding: 25px;
    margin: 25px;
	color: white;
	text-align: center;
	font-family: 'Cabin Sketch', cursive;
	font-size: 50px;
}

h2 {
    position: absolute;
    left:5%;
	top: 20%;
    margin-left:-20px;
    width: 1000px;
    padding: 25px;
    margin: 25px;
	color: white;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

h3 {
    position: absolute;
    left:-25%;
	top: 40%;
    margin-left:-20px;
    width: 1000px;
    padding: 25px;
    margin: 25px;
	color: white;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

h4 {
    position: absolute;
    left:1%;
	top: 40%;
    margin-left:-20px;
    width: 1000px;
    padding: 25px;
    margin: 25px;
	color: white;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

h5 {
    position: absolute;
    left:30%;
	top: 40%;
    margin-left:-20px;
    width: 1000px;
    padding: 25px;
    margin: 25px;
	color: white;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

h6 {
    position: absolute;
    left:7%;
	top: 75%;
    margin-left:-20px;
    width: 1000px;
    padding: 25px;
    margin: 25px;
	color: white;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
}

#button1{
	position: absolute;
	left: 43%;
	top: 70%;	
	background: #132b3b;
	padding: 12px 24px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Abel', sans-serif;
	text-decoration: none;
	vertical-align: middle;
}
#button1:hover {
   background: #0f2533;
   color: #ccc;
}
#button1:active {
   background: #123a54;
}

#button2{
	position: absolute;
	left: 44%;
	top: 80%;	
	background: #132b3b;
	padding: 12px 24px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Abel', sans-serif;
	text-decoration: none;
	vertical-align: middle;
}
#button2:hover {
   background: #0f2533;
   color: #ccc;
}
#button2:active {
   background: #123a54;
}

#button3{
	position: absolute;
	left: 40%;
	top: 85%;	
	background: #132b3b;
	padding: 12px 24px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Abel', sans-serif;
	text-decoration: none;
	vertical-align: middle;
}
#button3:hover {
   background: #0f2533;
   color: #ccc;
}
#button3:active {
   background: #123a54;
}

#superwoman{
	position: absolute;
	left: 40%;
	top: 50%;
	width: 200px;
	height: 150px;
}

#superman{
	position: absolute;
	left: 41%;
	top:55%;
	width: 175px;
	height: 120px;
}

#mouse{
	position: absolute;
	left: 10%;
	top:55%;
	width: 175px;
	height: 160px;
}

#wkey{
	position: absolute;
	left: 38%;
	top:57%;
	width: 100px;
	height: 100px;
	transform: rotate(17deg);
}

#coin{
	position: absolute;
	left:66%;
	top:55%;
	width: 125px;
	height: 120px;
}


